//-----------------------------------------------------------
// BUTTONS
//-----------------------------------------------------------

.btn {
	@extend .l_block;
	@extend .t_align--c;
	@extend .t_w--medium;

	padding: 0.778em 1em;
	border: 2px solid;

	@include font-size(18);
	line-height: normal;

	transition: all $transition-time;

	.mz-hover &:hover { color: white; }

	@each $name in $section-colors {
		&--hollow--#{$name} {
			border-color: color('#{$name}');
			.mz-hover &:hover { background: color('#{$name}', 400); }
		}
	}

	@each $name in $section-colors {
		&--solid--#{$name} {
			border-color: white;
			background: white;
			color: color('#{$name}');
			.mz-hover &:hover {
				border-color: color('#{$name}');
				background: color('#{$name}');
				color: white;
			}
		}
	}

	&--solid--primary { background: white; border-color: white; }

	&--group { flex: 1 1 auto; }

	&--group-cap {
		flex: 0 1 280px;
		max-width: 280px;
	}

	&--full { width: 100%; }

	&--sm {
		padding: 0.4em 1em;
		min-width: 145px;
		@include font-size(16);
	}
}

.m_btn-group {
	margin-right: -10px;
	margin-bottom: -10px;
	margin-left: -10px;

	.btn-wrapper {
		flex: 1 1 100%;
		max-width: 300px;
	}

	&--half { flex: 1 1 100%; }

	@include mq($md) {
		.btn-wrapper {
			flex: 0 0 50%;
			width: 50%;
		}

		&--half {
			flex: 1 1 calc(50% - 20px);
			width: calc(50% - 20px);
			min-width: 220px;
			max-width: 280px;
		}
	}

	@include mq($lg) {
		&--half { flex: 0 0 calc(50% - 20px); }
	}
}

.btn-full {
	.mz-hover &:hover {
		color: white!important;
	}
}

.arrow {
	flex: 0 0 calc(100% - 20px);
	margin: 10px 10px 0;
	padding: 10px 0;
	page-break-inside: avoid;

	&__icon {
		flex: 0 0 18px;
		width: 18px;
		height: 20px;
		transition: all $transition-time;
	}

	.mz-hover &:hover { border-color: currentColor; }
	.mz-hover &:hover &__icon { transform: translateX(6px); }

	@include mq($md) {
		flex: 0 0 calc(50% - 25px);
		&:nth-child(odd) { margin-right: 15px; }
		&:nth-child(even) { margin-left: 15px; }
	}
}
