.m_modal-overlay,
.m_modal {
	opacity: 0;
	visibility: hidden;
	transition: all $transition-time;

	&.is-active {
		opacity: 1;
		visibility: visible;
	}
}

.m_modal-overlay {
	position: fixed;
	z-index: 1002;
	background: rgba(color('grey', 700), 0.97);
}

.m_modal {
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	z-index: 1003;

	display: flex;
	align-items: center;

	padding: 60px 30px;
	width: 100%;

	&,
	&__inner {
		max-height: 100%;
		overflow: auto;
	}

	&__inner { flex: 0 0 100%; }

	@include mq($md) {
		top: 50%;
		bottom: auto;
		left: 50%;
		align-items: flex-start;
		width: calc(100% - 60px);
		max-height: calc(100% - 60px);
		transform: translate(-50%, -50%);
	}

	@include mq($lg) {
		padding: 60px 45px;
	}
}

.m_modal-close {
	position: absolute;
	top: 15px;
	right: 15px;
}

.m_modal .t_body-text {

	@include mq($md) {
		li {
			margin-right: 30px;
			margin-left: 30px;
		}
	}
	@include mq($lg) {
		.has-img,
		.has-embed,
		blockquote,
		video {
			margin-right: -45px;
			margin-left: -45px;
		}
	}
}

.m_modal--login {
	padding: 60px 30px;

	@include mq($md) {
		padding: 60px;
	}

	@include mq($lg) {
		padding: 90px;
	}
}