//-----------------------------------------------------------
// ARQUETTE - Extra Light
//-----------------------------------------------------------

@font-face {
  font-family: 'ATCArquette-Strata';
  src: url('../fonts/ATCArquette-Extralight.eot');
  src: url('../fonts/ATCArquette-Extralight.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/ATCArquette-Extralight.woff2') format('woff2'),
       url('../fonts/ATCArquette-Extralight.woff') format('woff'),
       url('../fonts/ATCArquette-Extralight.otf')  format('opentype');
	font-weight: 200;
	font-style: normal;
}

//-----------------------------------------------------------
// ARQUETTE - Extra Light Italic
//-----------------------------------------------------------

@font-face {
  font-family: 'ATCArquette-Strata';
  src: url('../fonts/ATCArquette-ExtralightItalic.eot');
  src: url('../fonts/ATCArquette-ExtralightItalic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/ATCArquette-ExtralightItalic.woff2') format('woff2'),
       url('../fonts/ATCArquette-ExtralightItalic.woff') format('woff'),
       url('../fonts/ATCArquette-ExtralightItalic.otf')  format('opentype');
	font-weight: 200;
	font-style: italic;
}



//-----------------------------------------------------------
// ARQUETTE - Light
//-----------------------------------------------------------

@font-face {
  font-family: 'ATCArquette-Strata';
  src: url('../fonts/ATCArquette-Light.eot');
  src: url('../fonts/ATCArquette-Light.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/ATCArquette-Light.woff2') format('woff2'),
       url('../fonts/ATCArquette-Light.woff') format('woff'),
       url('../fonts/ATCArquette-Light.otf')  format('opentype');
	font-weight: 300;
	font-style: normal;
}

//-----------------------------------------------------------
// ARQUETTE - Light Italic
//-----------------------------------------------------------

@font-face {
  font-family: 'ATCArquette-Strata';
  src: url('../fonts/ATCArquette-LightItalic.eot');
  src: url('../fonts/ATCArquette-LightItalic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/ATCArquette-LightItalic.woff2') format('woff2'),
       url('../fonts/ATCArquette-LightItalic.woff') format('woff'),
       url('../fonts/ATCArquette-LightItalic.otf')  format('opentype');
	font-weight: 300;
	font-style: italic;
}



//-----------------------------------------------------------
// ARQUETTE - Regular
//-----------------------------------------------------------

@font-face {
  font-family: 'ATCArquette-Strata';
  src: url('../fonts/ATCArquette-Regular.eot');
  src: url('../fonts/ATCArquette-Regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/ATCArquette-Regular.woff2') format('woff2'),
       url('../fonts/ATCArquette-Regular.woff') format('woff'),
       url('../fonts/ATCArquette-Regular.otf')  format('opentype');
	font-weight: 400;
	font-style: normal;
}

//-----------------------------------------------------------
// ARQUETTE - Regular Italic
//-----------------------------------------------------------

@font-face {
  font-family: 'ATCArquette-Strata';
  src: url('../fonts/ATCArquette-RegularItalic.eot');
  src: url('../fonts/ATCArquette-RegularItalic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/ATCArquette-RegularItalic.woff2') format('woff2'),
       url('../fonts/ATCArquette-RegularItalic.woff') format('woff'),
       url('../fonts/ATCArquette-RegularItalic.otf')  format('opentype');
	font-weight: 400;
	font-style: italic;
}



//-----------------------------------------------------------
// ARQUETTE - Medium
//-----------------------------------------------------------

@font-face {
  font-family: 'ATCArquette-Strata';
  src: url('../fonts/ATCArquette-Medium.eot');
  src: url('../fonts/ATCArquette-Medium.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/ATCArquette-Medium.woff2') format('woff2'),
       url('../fonts/ATCArquette-Medium.woff') format('woff'),
       url('../fonts/ATCArquette-Medium.otf')  format('opentype');
	font-weight: 500;
	font-style: normal;
}

//-----------------------------------------------------------
// ARQUETTE - Medium Italic
//-----------------------------------------------------------

@font-face {
  font-family: 'ATCArquette-Strata';
  src: url('../fonts/ATCArquette-MediumItalic.eot');
  src: url('../fonts/ATCArquette-MediumItalic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/ATCArquette-MediumItalic.woff2') format('woff2'),
       url('../fonts/ATCArquette-Mediumtalic.woff') format('woff'),
       url('../fonts/ATCArquette-MediumItalic.otf')  format('opentype');
	font-weight: 500;
	font-style: italic;
}



//-----------------------------------------------------------
// ARQUETTE - Semibold
//-----------------------------------------------------------

@font-face {
  font-family: 'ATCArquette-Strata';
  src: url('../fonts/ATCArquette-Semibold.eot');
  src: url('../fonts/ATCArquette-Semibold.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/ATCArquette-Semibold.woff2') format('woff2'),
       url('../fonts/ATCArquette-Semibold.woff') format('woff'),
       url('../fonts/ATCArquette-Semibold.otf')  format('opentype');
	font-weight: 600;
	font-style: normal;
}

//-----------------------------------------------------------
// ARQUETTE - Semibold Italic
//-----------------------------------------------------------

@font-face {
  font-family: 'ATCArquette-Strata';
  src: url('../fonts/ATCArquette-SemiboldItalic.eot');
  src: url('../fonts/ATCArquette-SemiboldItalic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/ATCArquette-SemiboldItalic.woff2') format('woff2'),
       url('../fonts/ATCArquette-SemiboldItalic.woff') format('woff'),
       url('../fonts/ATCArquette-SemiboldItalic.otf')  format('opentype');
	font-weight: 600;
	font-style: italic;
}



//-----------------------------------------------------------
// ARQUETTE - Bold
//-----------------------------------------------------------

@font-face {
  font-family: 'ATCArquette-Strata';
  src: url('../fonts/ATCArquette-Bold.eot');
  src: url('../fonts/ATCArquette-Bold.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/ATCArquette-Bold.woff2') format('woff2'),
       url('../fonts/ATCArquette-Bold.woff') format('woff'),
       url('../fonts/ATCArquette-Bold.otf')  format('opentype');
	font-weight: 700;
	font-style: normal;
}

//-----------------------------------------------------------
// ARQUETTE - Bold Italic
//-----------------------------------------------------------

@font-face {
  font-family: 'ATCArquette-Strata';
  src: url('../fonts/ATCArquette-BoldItalic.eot');
  src: url('../fonts/ATCArquette-BoldItalic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/ATCArquette-BoldItalic.woff2') format('woff2'),
       url('../fonts/ATCArquette-BoldItalic.woff') format('woff'),
       url('../fonts/ATCArquette-BoldItalic.otf')  format('opentype');
	font-weight: 700;
	font-style: italic;
}



//-----------------------------------------------------------
// ARQUETTE - Black
//-----------------------------------------------------------

@font-face {
  font-family: 'ATCArquette-Strata';
  src: url('../fonts/ATCArquette-Black.eot');
  src: url('../fonts/ATCArquette-Black.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/ATCArquette-Black.woff2') format('woff2'),
       url('../fonts/ATCArquette-Black.woff') format('woff'),
       url('../fonts/ATCArquette-Black.otf')  format('opentype');
	font-weight: 800;
	font-style: normal;
}

//-----------------------------------------------------------
// ARQUETTE - Black Italic
//-----------------------------------------------------------

@font-face {
  font-family: 'ATCArquette-Strata';
  src: url('../fonts/ATCArquette-BlackItalic.eot');
  src: url('../fonts/ATCArquette-BlackItalic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/ATCArquette-BlackItalic.woff2') format('woff2'),
       url('../fonts/ATCArquette-BlackItalic.woff') format('woff'),
       url('../fonts/ATCArquette-BlackItalic.otf')  format('opentype');
	font-weight: 800;
	font-style: italic;
}