//----------------------
// SLIDE 1
//----------------------

.p_home_slide-1 {

	&__post:not(:first-child) { margin-top: 30px; }

	&__post:hover &__post-title {
		border-color: color('pink');
	}

	&__grid {
		margin: 45px 0 -46px;
		width: 100%;
		border-top: 1px solid white;
	}

	.l_container { position: relative; }

	.u_bg-video { top: -60px; bottom: -60px; }

	@include mq($md) {
		padding-right: 30px;
		padding-left: 30px;

		&__l {
			padding-right: 30px;
			max-width: 500px;
			min-width: 380px;
		}

		&__r {
			flex: 1 1 390px;
			max-width: 390px;
			min-width: 260px;
			padding-left: 30px;
		}

		&__grid { border-top: 0; }

		.l_container { position: static; }
		.u_bg-video { top: 0; bottom: 0; }
	}

	@include mq($lg) {
		border: 0;
		&__post:not(:first-child) { margin-top: 60px; }
	}
}